BUILDLABS_ORCHESTRATION_URL=http://127.0.0.1:3100
BUILDLABS_BUILD_BACKEND_URL=http://127.0.0.1:3000
BUILDLABS_INTERNAL_TOKEN=
BUILDLABS_OPERATOR_TOKEN=
BUILDLABS_DASHBOARD_ALIAS_SECRET=
BUILDLABS_DASHBOARD_INTERNAL_TOKEN=
BUILDLABS_DASHBOARD_WIP_POLICY_DIGEST=
BUILDLABS_DASHBOARD_WIP_ATTESTATION_SECRET=
BUILDLABS_DASHBOARD_FIXTURES=0
COPILOTKIT_TELEMETRY_DISABLED=true
